[submodule "pesto-back-end"]
	path = pesto-back-end
	url = https://github.com/NathanNguyen-Dev/pesto-back-end
[submodule "pesto-front-end"]
	path = pesto-front-end
	url = https://github.com/NathanNguyen-Dev/pesto-front-end
